<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright © 2023. Change this to your own official copyright statement.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="Navigation App"
        android:theme="@style/Theme.App"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>