<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tomtom.sdk.examples">
    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigatingWithTomTom"
        tools:targetApi="31">
        <activity
            android:name=".usecase.MapModeSelectionActivity"
            android:exported="false"
            android:label="@string/map_mode_selection_title" />
        <activity
            android:name=".usecase.BasicNavigationActivity"
            android:exported="false" />
        <activity
            android:name="com.tomtom.sdk.examples.offline.OfflineExamplesActivity"
            android:exported="false" />
        <activity
            android:name="com.tomtom.sdk.examples.navigation.NavigationExamplesActivity"
            android:exported="false" />
        <activity
            android:name="com.tomtom.sdk.examples.routing.RoutingExamplesActivity"
            android:exported="false" />
        <activity
            android:name="com.tomtom.sdk.examples.search.SearchExamplesActivity"
            android:exported="false" />
        <activity
            android:name="com.tomtom.sdk.examples.maps.MapExamplesActivity"
            android:exported="false" />
        <activity
            android:name="com.tomtom.sdk.examples.MainMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>